<!DOCTYPE html>
<html>
  <head>
    <title><%= t('site_title') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous">
    </script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/<%= Rails.application.credentials.dig(:font_awesome_download_key)%>.js"
            crossorigin="anonymous">
    </script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
     <!-- fixed-width container -->
    <div class="container">
      <div class="header">

        <a href="<%= root_path %>"><i class="fas fa-user-lock font-logo text-info" alt="Home Page Link" title="Home"></i></a>
        <span><%= THIS_SITE %></span>
        <span class="float-right">
          <%= link_to 'en', url_for(locale: 'en') %>&nbsp;|&nbsp;
          <%= link_to 'pl', url_for(locale: 'pl') %>&nbsp;
          <% if user_signed_in? %>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt sign-in-out" 
                 alt="Sign Out Link" 
                 title="Sign Out"></i>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path do %> 
              <i class="fas fa-sign-in-alt sign-in-out" 
                 alt="Sign In Link" 
                 title="Sign In"></i>
            <% end %>
          <% end %>
        </span>
      </div>
    </div>

    <div class="container body-main">
      <% if flash[:alert] %>
        <div class="alert alert-warning" role="alert">
          <%= flash[:alert] %>
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-danger" role="alert">
          <%= flash[:error] %>
        </div>
      <% elsif flash[:info] %>
        <div class="alert alert-info" role="alert">
          <%= flash[:info] %>
          <%= link_to('OK', saw_cookie_notice_path, method: :post, class: 'float-right') unless cookies[:saw_cookie_notice] %>
        </div>
      <% elsif flash[:notice]%>
        <div class="alert alert-primary" role="alert">
          <%= flash[:notice] %>
        </div>
        <% elsif flash[:success]%>
          <div class="alert alert-success" role="alert">
            <%= flash[:success] %>
          </div>
      <% end %>
      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <ul class="nav">
          <li class="nav-item">
            <%# link_to 'Contact Us', contact_us_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Cookie Policy', cookie_policy_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'FAQ', faq_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Privacy Policy', privacy_policy_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Terms of Use', terms_of_use_path, class: 'nav-link' %>
          </li>
        </ul>
        <div class="text-muted">
          &copy; 2019<%= " - #{Date.today.year}" if Date.today.year > 2019 %>  <%= FMA_LLC %> provides tools that businesses use for Consumer Privacy Act Compliance.
        </div>
      </div>

    </footer>

    <!-- JavaScript files for Boostrap. See https://getbootstrap.com/ -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
